
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-size: 1.5em;
}

#main-logo {
  font-family: 'Grandstander', cursive;
  font-size: 2em;
  margin: 15px auto;
  color:rgb(110, 141, 0);
}

body {
  text-align: center;
  font-family: 'Newsreader', serif;
  text-shadow: 2px 2px 7px black;
  height: 100%;
  width: 100%;
  color:rgb(218, 160, 84);
  
  background:
      #2a2a2a
      url(../images/wallpaper_notes.jpeg)
      center center / cover
      no-repeat
      fixed;
  background-blend-mode: color-burn;
}

.subheading-home {
  font-size: 1.1em;
  margin-top: 5%;
}

.paragraph {
  font-size: .9em;
  margin: 5% auto 0;
  line-height: 1.5em;
}

#button-container {
  background: radial-gradient(black 1%, transparent, transparent);
  width: 90%;
  max-width: 500px;
  border-radius: 7px;
  padding: 0 5% 5%;
  margin: 3% auto 0;
}

.button {
  margin: 6% auto 0;
  border-radius: 5px;
  padding: 5% 0;
  justify-content: space-around;
  font-size: 1em;
  font-family: 'Grandstander', cursive;
  text-shadow: 1px 1px .5px #2a2a2a;
  border-top: 1px solid rgb(176, 202, 61);
  border-bottom: 1px solid rgb(42, 63, 19);
  background-image: linear-gradient(rgba(110, 141, 0, .9), rgba(76, 97, 0, .9));
  box-shadow:2px 1px 5px black;
  text-decoration: none;
  color:rgb(224, 204, 182);
  transition: transform .2s, opacity .2s ease-in-out;
}

.button:hover {
  opacity: .8;
  transform: scale(1.02);
}

.button:active {
  border-top: 1px solid rgb(42, 63, 19);
  border-bottom: 1px solid rgb(104, 119, 38);
  background-image: linear-gradient(rgba(114, 133, 49, .7), rgba(82, 99, 23, .7));
}

.button-home {
  display: inline-block;
  width: 100%;
  line-height: 1.1em;
  font-size: 1.4em;
}

footer {
  position: absolute;
  height: 7%;
  bottom: 0;
  width: 100%;
}

footer a {
  color:rgb(218, 160, 84);
  text-decoration: none;
  /* margin-top: 50%; */
}

/* On several pages */

.subheading-other {
  font-size: 1.3em;
  /* font-weight:100; */
  margin: 5% auto;
}

.main-logo-other-pages {
  font-family: 'Grandstander', cursive;
  font-size: 1.5em;
  margin: 5% auto;
  color:rgb(110, 141, 0);
}

/* Quiz Page */

#quiz-box {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: 500px;
  text-align: center;
}

#score {
  float: left;
  left: 20%;
}

#clock {
  float: right;
  right: 20%;
}

#score, #clock {
  margin: 15px auto;
}

#staffbox {
  clear: both;
  position: relative;
  height: 145px;
  width: 305px;
  max-width: 500px;
  background-color:rgb(224, 204, 182);
  text-align: center;
  border-radius: 4px;
  margin: 35px auto;
}

#staffbox > img {
  width: 100%;
  height: 100%;
}

#answers-box {
  justify-content: space-around;
  grid-template-columns: 2;
  grid-template-rows: 2;
  width: 100%;
}

.quiz-button {
  margin: 5% 5% 5%;
  height: 50px;
  width: 35%;
  max-width: 200px;
}

/* MODAL FOR END GAME, QUIZ */

#modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color:rgba(224, 204, 182, .7);
  z-index: 1;
}

#modal-window {
  width: 90vw;
  max-width: 600px;
  height: 35vh;
  max-height: 350px;
  padding-top: 12%;
  margin: 45% auto;
  background-color: #2a2a2ae5;
  border-radius: 4px;
  box-shadow: 2px 1px 7px black;
  position: relative;
  z-index: 1;
}

.close-button {
  border-top: 1px solid rgb(191, 196, 161);
  border-bottom: 1px solid rgb(60, 63, 46);
  background: linear-gradient(rgba(144, 151, 121, 0.7), rgba(83, 85, 74, 0.7));
}

.close-button:hover {
  background: linear-gradient(rgba(160, 168, 137, 0.7), rgba(110, 112, 95, 0.7));
}

.close-button:active {
  border-top: 1px solid rgb(60, 63, 46);
  border-bottom: 1px solid rgb(116, 119, 99);
  background: linear-gradient(rgba(107, 110, 90, 0.7), rgba(120, 126, 99, 0.7));

}

/* play.html */

#piano-container {
  position: relative;
  display: inline-flex;
  height: 25vh;
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  border-radius: 1%;
  border-top: 3px solid rgb(173, 0, 0);
}

.key {
  height: 100%;
  width: var(--width);
}

.white {
  --width: 6.66%;
  background-color: rgb(224, 204, 182);
  border-radius: 0 0 4px 4px;
  border-right: 1px solid white;
  border-top: 1px solid #2a2a2a;
  border-left: 1px solid #4b453d;
}

.white.active {
  background-color:rgb(196, 179, 161);
}

.black {
  --width: 4.28%;
  height: 63%;
  margin-left: -2.14%;
  margin-right: -2.14%;
  background-color: #2a2a2a;
  border-radius: 2px;
  border-bottom: 8px solid black;
  z-index: 1;
}

.black.active {
  background-color: #1f1f1f;
}

/* learn.html */

#container-learn {
  max-width: 600px;
  width: 90%;
  height: 100vh;
  background-color: rgb(110, 141, 0);
  margin: 70px auto 0;
}

#banner-learn {
  width: 90%;
  max-width: 600px;
  background-color: rgb(224, 204, 182);
  position: fixed;
  top: 70px;
  border-radius: 4px 4px 0 0;
  border-top: 2px solid black;
  z-index: 1;
  margin: 0 auto;
}

#youtube-logo {
  width: 15%;
  height: 100%;
  padding: 5px;
}


#learn-text {
  position: relative;
  margin-top: 60px;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 100;
  text-align: justify;
  padding: 50px 10px 0;
  color:rgb(224, 204, 182)
}

/*

.learn-image {
  width: 85%;
  margin-top: 20px;
  border-radius: 3px;
}

.learn-image-2 {
  width: 95%;
  height: 100%;
  margin: 15px auto;
  border-radius: 3px;
  background-color:rgb(224, 204, 182);
} */

/* Hamnburger Menu */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Styles to header & navbar */


.navbar {
  display: flex;
  position: fixed;  /**/
  top: 0;
  width: 100%;
  height: 70px;
  background: #2a2a2a url(../images/wallpaper_notes.jpeg);
  background-blend-mode: color-burn;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 2;
}

/* Hamburger Style */

.hamburger {
  display: none;
  margin-top: -7px;
  background-color: #2a3a2a60;
  position: fixed;
  right: 15px;
  padding: 1px 5px;
  border-radius: 3px;
  box-shadow: 2px 1px 5px black;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(110, 141, 0);
}

/* Basic styles for other elements */

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.3rem;
  font-family: 'Grandstander', cursive;
  /* text-transform: uppercase; */
  color:rgb(134, 172, 0);
  text-shadow: 0 0 4px black;
}

.nav-link:hover{
  color:rgb(218, 160, 84);
}

/* contact.html */

#form-div {
  margin: 0 auto;
  position: relative;
  width: 85%;
  max-width: 600px;
  height: 60%;
  position: relative;
  display: inline-block;
  text-align: center;
}

#form-div .input, textarea {
  position: relative;
  margin: 5% auto 10%;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

#form-div .input {
  height: 25px;
}

textarea {
  width: 100%;
  margin: 5% auto;
}

#checkbox {
  margin-top: 2%;
  margin-left: 2%;
}

#submit {
  margin: 10% auto 10%;
  border-radius: 4px;
  display: block;
  width: 40%;
  background-color:rgb(150, 166, 170);
  height: 25px;
  max-width: 200px;
}

#sent-msg {
  padding: 10px;
  margin-bottom: 3%;
  font-size: 0.8em;
  border-radius: 4px;
}

/* Media Query */

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 4rem;
      flex-direction: column;
      background-color: #2a2a2ab6;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

/* for animation */

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



}
