
* {
  margin: 0;
  padding: 0;
  border: none;
}

#main-logo {
  font-size: 2em;
  margin: 20px auto;
}

body {
  text-align: center;
  font-family: Futura, Arial, sans-serif;
  height: 100%;
  width: 100%;
  color:rgb(233, 147, 50);
  
  background:
      #2a2a2a
      url(../images/wallpaper_notes.jpeg)
      center center / cover
      no-repeat
      fixed;
  background-blend-mode: color-burn;
}

.subheading-home {
  font-size: 1em;
  margin-top: 10%;
}

.paragraph {
  font-size: 0.8em;
  margin: 15px auto;
}

#button-container {
  background-color: rgba(233, 147, 50, 0.3);
  width: 75%;
  border-radius: 4px;
  padding: 0 15px 15px;
  margin: 10% auto 0;
}

a {
  color: #2a2a2a;
}

#button-container > a {
  margin: 15px auto 0 auto;
  border-radius: 5px;
  width: 100%;
  height: 10%;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  background-color: rgb(233, 147, 50);
  text-decoration: none;
}

footer {
  position: absolute;
  height: 7%;
  bottom: 0;
  width: 100%;
}

footer a {
  color:rgb(233, 147, 50);
  text-decoration: none;
}

/* Quiz Page */

.main-logo-small {
 font-size: 1rem;
 text-align: left;
 margin: 10px auto 0 10px;
 position: absolute;
 width: 50%;
}

#header-quiz {
  top: 0;
  width: 100%;
  height: 60px;
}

#navbar-quiz {
  right: 10px;
  width: 50%;
  float: right;
  position: fixed;
  display: inline;
  top: 0;
}

#navbar-quiz li {
  list-style-type: none;
  display: inline;
  position: relative;
  padding: 15px;
  width: 100%;
  color:rgb(233, 147, 50);
}

#quiz-box {
  margin: 10px;
}

#score {
  float: left;
}

#clock {
  float: right;
}

#staffbox {
  clear: both;
  position: relative;
  width: 95%;
  height: 50%;
  padding: 15px;
  background-color:rgb(224, 204, 182);
  text-align: center;
  border-radius: 4px;
  margin: 15px auto;
}

#staffbox > img {
  width: 100%;
  height: 100%;
}

#answer-input {
  margin: 25px auto;
  border-radius: 4px;
  background-color:rgb(224, 204, 182);
  display: block;
  width: 40%;

}

#submit-button {
  margin: 25px auto;
  border-radius: 4px;
  display: block;
  width: 40%;
  background-color: rgba(233, 147, 50, 0.6);
}